:root {
    --color-transparent: transparent;
    --color-white: rgba(255, 255, 255, 1);
    --color-dblue: rgba(41, 56, 58, 1);
    --color-dblue-base: rgba(41, 56, 58, 1);
    --color-dblue-900: rgba(45, 48, 51, 1);
    --color-dblue-800: rgba(27, 29, 37, 1);
    --color-dblue-700: rgba(32, 35, 45, 1);
    --color-dblue-600: rgba(36, 40, 51, 1);
    --color-dblue-500: rgba(41, 46, 58, 1);
    --color-dblue-400: rgba(91, 94, 102, 1);
    --color-dblue-300: rgba(143, 145, 151, 1);
    --color-dblue-200: rgba(186, 188, 193, 1);
    --color-dblue-100: rgba(216, 217, 221, 1);
    --color-dblue-50: rgba(245, 245, 248, 1);
    --color-turq: rgba(5, 230, 221, 1);
    --color-turq-base: rgba(5, 230, 221, 1);
    --color-turq-900: rgba(2, 115, 111, 1);
    --color-turq-800: rgba(3, 148, 142, 1);
    --color-turq-700: rgba(4, 178, 171, 1);
    --color-turq-600: rgba(4, 202, 194, 1);
    --color-turq-500: rgba(5, 230, 221, 1);
    --color-turq-400: rgba(72, 236, 230, 1);
    --color-turq-300: rgba(130, 241, 238, 1);
    --color-turq-200: rgba(175, 245, 244, 1);
    --color-turq-100: rgba(210, 248, 249, 1);
    --color-turq-50: rgba(244, 252, 254, 1);
    --color-rblue: rgba(20, 69, 199, 1);
    --color-rblue-base: rgba(20, 69, 199, 1);
    --color-rblue-900: rgba(10, 35, 100, 1);
    --color-rblue-800: rgba(13, 45, 128, 1);
    --color-rblue-700: rgba(16, 54, 154, 1);
    --color-rblue-600: rgba(18, 61, 175, 1);
    --color-rblue-500: rgba(20, 69, 199, 1);
    --color-rblue-400: rgba(83, 119, 214, 1);
    --color-rblue-300: rgba(137, 162, 227, 1);
    --color-rblue-200: rgba(180, 195, 237, 1);
    --color-rblue-100: rgba(213, 221, 245, 1);
    --color-rblue-50: rgba(245, 246, 253, 1);
    --color-mgrey: rgba(137, 138, 145, 1);
    --color-mgrey-base: rgba(137, 138, 145, 1);
    --color-mgrey-900: rgba(76, 90, 104, 1);
    --color-mgrey-800: rgba(90, 103, 116, 1);
    --color-mgrey-700: rgba(109, 121, 133, 1);
    --color-mgrey-600: rgba(104, 106, 114, 1);
    --color-mgrey-500: rgba(137, 138, 145, 1);
    --color-mgrey-400: rgba(168, 169, 175, 1);
    --color-mgrey-300: rgba(195, 196, 201, 1);
    --color-mgrey-200: rgba(216, 217, 221, 1);
    --color-mgrey-100: rgba(217, 217, 217, 1);
    --color-mgrey-50: rgba(248, 249, 251, 1);
    --color-deepblue: rgba(22, 34, 75, 1);
    --color-deepblue-base: rgba(22, 34, 75, 1);
    --color-error: rgba(250, 3, 32, 1);
    --color-error-base: rgba(250, 3, 32, 1);
    --color-error-subdued: rgba(252, 174, 185, 1);
    --color-error-subdued-50: rgba(252, 244, 247, 1);
    --color-error-900: rgba(126, 2, 16, 1);
    --color-error-800: rgba(161, 2, 21, 1);
    --color-error-700: rgba(194, 3, 25, 1);
    --color-error-600: rgba(220, 3, 28, 1);
    --color-error-500: rgba(250, 3, 32, 1);
    --color-error-400: rgba(251, 70, 92, 1);
    --color-error-300: rgba(251, 128, 144, 1);
    --color-error-200: rgba(252, 174, 185, 1);
    --color-error-100: rgba(252, 209, 216, 1);
    --color-error-50: rgba(252, 244, 247, 1);
    --color-success: rgba(4, 202, 114, 1);
    --color-success-base: rgba(4, 202, 114, 1);
    --color-success-subdued: rgba(175, 237, 211, 1);
    --color-success-subdued-50: rgba(240, 250, 248, 1);
    --color-success-900: rgba(2, 101, 57, 1);
    --color-success-800: rgba(3, 130, 73, 1);
    --color-success-700: rgba(4, 157, 88, 1);
    --color-success-600: rgba(4, 178, 100, 1);
    --color-success-500: rgba(4, 202, 114, 1);
    --color-success-400: rgba(4, 202, 114, 1);
    --color-success-300: rgba(84, 218, 159, 1);
    --color-success-200: rgba(146, 231, 195, 1);
    --color-success-100: rgba(194, 241, 222, 1);
    --color-success-50: rgba(235, 249, 245, 1);
    --color-warning: rgba(255, 162, 0, 1);
    --color-warning-base: rgba(255, 162, 0, 1);
    --color-warning-subdued: rgba(253, 224, 176, 1);
    --color-warning-subdued-50: rgba(253, 248, 242, 1);
    --color-warning-900: rgba(128, 82, 0, 1);
    --color-warning-800: rgba(164, 105, 0, 1);
    --color-warning-700: rgba(197, 126, 0, 1);
    --color-warning-600: rgba(224, 143, 0, 1);
    --color-warning-500: rgba(255, 162, 0, 1);
    --color-warning-400: rgba(254, 186, 69, 1);
    --color-warning-300: rgba(254, 207, 129, 1);
    --color-warning-200: rgba(253, 224, 176, 1);
    --color-warning-100: rgba(253, 237, 212, 1);
    --color-warning-50: rgba(253, 248, 242, 1);
    --color-background: rgba(244, 244, 244, 1);
    --color-background-base: rgba(244, 244, 244, 1);
    --color-background-secondary: rgba(255, 255, 255, 1);
    --color-background-tertiary: rgba(236, 239, 240, 1);
    --color-background-disabled: rgba(216, 217, 221, 1);
    --color-text: rgba(41, 46, 58, 1);
    --color-text-base: rgba(41, 46, 58, 1);
    --color-text-secondary: rgba(122, 136, 144, 1);
    --color-text-tertiary: rgba(184, 197, 202, 1);
    --color-text-disabled: rgba(216, 217, 221, 1);
    --color-icon-base: rgba(32, 32, 32, 1);
    --color-icon-secondary: rgba(137, 137, 138, 1);
    --color-icon-tertiary: rgba(195, 195, 197, 1);
    --color-icon-primary: rgba(44, 113, 246, 1);
    --color-icon-success: rgba(4, 202, 114, 1);
    --color-icon-warning: rgba(255, 162, 0, 1);
    --color-icon-error: rgba(250, 3, 32, 1);
    --color-border: rgba(32, 32, 32, 1);
    --color-border-base: rgba(32, 32, 32, 1);
    --color-border-secondary: rgba(137, 137, 138, 1);
    --color-border-primary: rgba(20, 69, 199, 1);
    --color-border-primary-secondard: rgba(5, 230, 221, 1);
    --color-border-success: rgba(4, 202, 114, 1);
    --color-border-warning: rgba(255, 162, 0, 1);
    --color-border-error: rgba(250, 3, 32, 1);
  }